.places-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  /* margin: 0 auto;
  max-width: 50rem; */
  padding: 0;
  /* width: 90%; */
  align-items: center;
  width: 100%;
}
.places-page-img-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin-top: 6rem; */
  height: 50vh;
  align-items: center;
  background-image: url(../../assets/original-c3552a703d42f94e802f94a8e41396b7.png);
  background-size: cover;
  width: 100%;
  justify-content: center;
  /* margin-top: 4rem; */
  border-radius: 1.2rem;
  position: relative;
}
