.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #ff4d1c;
  border-radius: 0.5rem;
  background: #ff4d1c;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #ff4d1c;
  border-color: #ff4d1c;
}

.button--inverse {
  background: transparent;
  background-color: #ff4d1c;
  /* width: 33%; */
  padding: 1rem;
  color: white;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #ff4d1c;
}

.button--danger {
  background: #830000;
  border-color: #830000;
  /* width: 33%; */
  padding: 1rem;
  color: white;
}

.button--danger:hover,
.button--danger:active {
  background: #ff4d1c;
  border-color: #ff4d1c;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}

.button-default {
  background: transparent;
  background-color: #ff4d1c;
  /* width: 33%; */
  padding: 1rem;
  color: white;
}
